li{
    list-style: none;
}
.row_one{
    /* background-color: #032133; */
    margin-top: 2rem;
}
.dat {
    background-color: #032133;
}
.cono {
    background-color: #03332A;
}
.redes{
    background-color: #031533;
}
.proy {
    background-color: #032133;
}
.conoci {
    background-color: #00090A;
}
.project{
    background-color: #031533;
}
main {
    margin: 0 2rem;
}